Repository anyscale/terraform-aws-anyscale-cloudfoundation-modules, pull requests merged in 2023-06, with the labels that each got.

#21 Adding permissions to modify ELB attributes that we provision for Anyscale's IAM role
  modules/aws-anyscale-iam/iam-policies-data.tf
Labels: bug, terraform

#25 Release 0.12.0 - AWS Terraform Provider & IAM Submodule Updates
  .pre-commit-config.yaml
  README.md
  examples/anyscale-v2-commonname/README.md
  examples/anyscale-v2-commonname/versions.tf
  examples/anyscale-v2-createendpoints/versions.tf
  examples/anyscale-v2-existing-vpc/README.md
  examples/anyscale-v2-existing-vpc/versions.tf
  examples/anyscale-v2-privatesubnets/README.md
  examples/anyscale-v2-privatesubnets/versions.tf
  examples/anyscale-v2/README.md
  examples/anyscale-v2/versions.tf
  getting-started.md
  main.tf
  modules/aws-anyscale-efs/README.md
  modules/aws-anyscale-efs/test/anyscale-test/versions.tf
  modules/aws-anyscale-efs/versions.tf
  modules/aws-anyscale-iam/README.md
  modules/aws-anyscale-iam/iam-policies-data.tf
  modules/aws-anyscale-iam/test/anyscale-test/versions.tf
  modules/aws-anyscale-iam/variables.tf
  modules/aws-anyscale-iam/versions.tf
  modules/aws-anyscale-s3-policy/README.md
  modules/aws-anyscale-s3-policy/examples/README.md
  modules/aws-anyscale-s3-policy/examples/versions.tf
  modules/aws-anyscale-s3-policy/test/anyscale-test/versions.tf
  modules/aws-anyscale-s3-policy/versions.tf
  modules/aws-anyscale-s3/README.md
  modules/aws-anyscale-s3/main.tf
  modules/aws-anyscale-s3/test/anyscale-test/versions.tf
  modules/aws-anyscale-s3/versions.tf
  modules/aws-anyscale-securitygroups/README.md
  modules/aws-anyscale-securitygroups/test/anyscale-test/versions.tf
  modules/aws-anyscale-securitygroups/versions.tf
  modules/aws-anyscale-vpc/README.md
  modules/aws-anyscale-vpc/main.tf
  modules/aws-anyscale-vpc/nat-gateway.tf
  modules/aws-anyscale-vpc/test/anyscale-test/versions.tf
  modules/aws-anyscale-vpc/versions.tf
  test/anyscale-v1-test/versions.tf
  test/anyscale-v2-test/versions.tf
  variables.tf
  versions.tf
Labels: documentation, enhancement, terraform-module-iam, terraform-module-vpc, terraform-modules, examples, terraform, unittests

#26 Release 0.13.0
  CHANGELOG.md
Labels: enhancement, terraform-module-iam, terraform-modules

#27 [upd] Go Tests cleanup and adding E2E tests
  test/README.md
  test/anyscale-v1-test/main.tf
  test/anyscale-v1-test/outputs.tf
  test/anyscale-v2-e2e-private-test/main.tf
  test/anyscale-v2-e2e-private-test/outputs.tf
  test/anyscale-v2-e2e-private-test/variables.tf
  test/anyscale-v2-e2e-private-test/versions.tf
  test/anyscale-v2-e2e-public-test/main.tf
  test/anyscale-v2-e2e-public-test/outputs.tf
  test/anyscale-v2-e2e-public-test/variables.tf
  test/anyscale-v2-e2e-public-test/versions.tf
  test/anyscale-v2-test/main.tf
  test/anyscale-v2-test/outputs.tf
  test/anyscale_v1_test.go
  test/anyscale_v2_05_e2e_public_test.go
  test/anyscale_v2_06_e2e_private_test.go
  test/go.mod
  test/go.sum
  test/tf_aws_anyscale_test.go
Labels: unittests

#28 v0.13.1 - GitHub Release Process Update
  .github/create-release.yml
  CHANGELOG.md
Labels: github
