Repository anyscale/terraform-aws-anyscale-cloudfoundation-modules, pull requests merged in 2023-04, with the labels that each got.

#10 Update README.md
  README.md
Labels: documentation

#13 [upd] Root Module - Update CHANGELOG.md and README.md
  CHANGELOG.md
  README.md
Labels: documentation

#14 [upd] CHANGELOG.md
  CHANGELOG.md
Labels: documentation, enhancement, P1, terraform-module-vpc, terraform-module-root, examples

#17 [upd] Root Module Outputs, aws-anyscale-s3 module ACL removal
  CHANGELOG.md
  README.md
  examples/anyscale-v2-commonname/README.md
  examples/anyscale-v2-commonname/outputs.tf
  modules/aws-anyscale-efs/README.md
  modules/aws-anyscale-iam/README.md
  modules/aws-anyscale-s3-policy/README.md
  modules/aws-anyscale-s3-policy/examples/README.md
  modules/aws-anyscale-s3/README.md
  modules/aws-anyscale-s3/main.tf
  modules/aws-anyscale-s3/variables.tf
  modules/aws-anyscale-securitygroups/README.md
  modules/aws-anyscale-vpc/README.md
  outputs.tf
Labels: documentation, enhancement, terraform-module-s3, terraform-module-root, examples, terraform
