Repository anyscale/terraform-aws-anyscale-cloudfoundation-modules, pull requests merged in 2023-07, with the labels that each got.

#30 [Services] Added incremental permissions to be able to modify ALB resources after creation
  modules/aws-anyscale-iam/iam-policies-data.tf
Labels: bug, terraform-module-iam, terraform

#31 [upd] aws-anyscale-iam submodule - Add CloudWatch IAM policy
  CHANGELOG.md
  README.md
  examples/anyscale-v2-commonname/README.md
  examples/anyscale-v2-commonname/main.tf
  examples/anyscale-v2-commonname/variables.tf
  main.tf
  modules/aws-anyscale-efs/README.md
  modules/aws-anyscale-iam/README.md
  modules/aws-anyscale-iam/iam-policies-data.tf
  modules/aws-anyscale-iam/main.tf
  modules/aws-anyscale-iam/variables.tf
  modules/aws-anyscale-s3-policy/README.md
  modules/aws-anyscale-s3-policy/examples/README.md
  modules/aws-anyscale-s3/README.md
  modules/aws-anyscale-securitygroups/README.md
  modules/aws-anyscale-vpc/README.md
  variables.tf
Labels: documentation, enhancement, terraform-module-iam, terraform-module-root, examples, terraform

#32 [upd] root module variables - general cleanup of descriptions
  README.md
  getting-started.md
  modules/aws-anyscale-efs/README.md
  modules/aws-anyscale-iam/README.md
  modules/aws-anyscale-s3-policy/README.md
  modules/aws-anyscale-s3-policy/examples/README.md
  modules/aws-anyscale-s3/README.md
  modules/aws-anyscale-securitygroups/README.md
  modules/aws-anyscale-vpc/README.md
  variables.tf
Labels: documentation, terraform-module-root, terraform

#33 [add] example - anyscale-v2-existing-s3
  .tflint.hcl
  examples/anyscale-v2-existing-s3/README.md
  examples/anyscale-v2-existing-s3/main.tf
  examples/anyscale-v2-existing-s3/outputs.tf
  examples/anyscale-v2-existing-s3/variables.tf
  examples/anyscale-v2-existing-s3/versions.tf
Labels: documentation, examples
