Repository anyscale/terraform-aws-anyscale-cloudfoundation-modules, pull requests merged in 2025-09, with the labels that each got.

#77 Fix permissions for other certificate operations
  modules/aws-anyscale-iam/anyscale-control_plane-services-v2.tmpl
Labels: bug, terraform

#78 adding cloud resource yaml output and fix iam policy comma
  examples/anyscale-v2-commonname/outputs.tf
  examples/anyscale-v2-existing-s3/outputs.tf
  examples/anyscale-v2-existing-vpc/outputs.tf
  examples/anyscale-v2-kitchensink/outputs.tf
  examples/anyscale-v2-kms/outputs.tf
  examples/anyscale-v2-privatesubnets/outputs.tf
  examples/anyscale-v2/outputs.tf
  modules/aws-anyscale-iam/anyscale-control_plane-services-v2.tmpl
Labels: enhancement, examples, terraform

#79 fix command to create a cloud resource
  README.md
  examples/anyscale-v2-commonname/outputs.tf
  examples/anyscale-v2-existing-s3/outputs.tf
  examples/anyscale-v2-existing-vpc/outputs.tf
  examples/anyscale-v2-kitchensink/outputs.tf
  examples/anyscale-v2-kms/outputs.tf
  examples/anyscale-v2-privatesubnets/outputs.tf
  examples/anyscale-v2/outputs.tf
Labels: documentation, examples
